<h1>Local Dog Owners</h1>
<div>
<ul>
  <% @owners.each do |owner| %>
    <li><%= link_to "#{owner.full_name}", owner %></li>
  <% end %>
  <br>
  <p><%= link_to "Register", new_owner_path %></p>
</ul>
</div>

